*

!.gitignore
!readme.me

!entities/
!entities/*/
entities/*/*
!entities/*/*_config.yaml

!www/
www/*
!www/*.mp3

!node-red/
node-red/*
!node-red/flows.json

!.storage/
.storage/*
!.storage/lovelace.dashboard_options

!themes/
!themes/*/
themes/*/*
!themes/*/dark_themes.yaml

!media/
media/*
!media/*.mp3